* {
  font-family: "Ropa Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fdd13e;
}

.yellowtitle {
  color: #fdd13e;
}

.grey {
  color: #919191;
}

.container {
  position: absolute;
  width: 1000px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 20px 20px 100px 10px rgba(0, 0, 0, 0.25);
}

.landingtitle {
  position: absolute;
  left: 66px;
  top: 61px;
}

.menu {
  position: absolute;
  left: 337px;
  top: 90px;
}

.submenu {
  margin: 20px 40px;
  font-size: 18px;
  line-height: 19px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.submenu:hover {
  color: black;
}

.leftbox {
  position: absolute;
  width: 418px;
  height: 244px;
  top: 245px;
  left: 138px;
}

.rightbox {
  position: absolute;
  top: 231px;
  left: 580px;
}

.title2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

.text1 {
  color: #b6b6b6;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.button1 {
  position: absolute;
  width: 191px;
  height: 55px;
  background: #fdd13e;
  border-radius: 30px;
  font-size: 18px;
  line-height: 19px;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.6s;
}

.button2 {
  position: absolute;
  width: 191px;
  height: 55px;
  left: 50%;
  background: #ffffff;
  border-radius: 30px;
  font-size: 18px;
  line-height: 19px;
  border: 1px solid #c6c6c6;
  cursor: pointer;
  outline: none;
  transition-duration: 0.6s;
}

.button1:hover {
  background-color: #e2ae02;
  color: rgb(255, 255, 255);
}

.button2:hover {
  background-color: #252525;
  color: rgb(247, 247, 247);
}

img {
  width: 318px;
  height: 244px;
}
